.App {
  display: flex;
  justify-content:center ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(82, 65, 34);
}

.TitleSection {
  background-color: #191d20;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;

}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  border: 1px solid #4ca;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: white;
  background-color: #006cbf;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  font-variant: small-caps;
  font-family:'Segoe UI';
  margin-top: 100px;
  margin-bottom: 200px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(204, 172, 172, 0.2);
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 100px;
  padding-top: 50px;
  border-radius: 25px;
} 

.DisplaySection h3, h4 {
  margin: 5px;
  font-size:larger;
  font-family: 'Courier New', Courier, monospace;

}

.DisplaySection img {
  width: 250px;
  margin-top: -35px;
}